.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-align: center;
    padding-top: 40vh;
  }
  
  h1 {
    font-family: 'Planet Kosmos';
  }
  
  .buttom {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #dd5c01;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #b66304;
  }

body {
  display: block;
}
  